.image-grid {
  display: grid;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--page-width) / 12), 1fr)
  );
}
