.progress-bar {
  height: 8px;
  background-color: var(--progress-bar-background);
  margin: 12px 0;
}

.progress-bar.progress-bar-show-percent {
  margin-top: 38px;
}

.progress-bar-filled {
  background-color: var(--progress-bar-fill);
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
  width: 0;
}

.progress-bar-filled::before {
  content: "";
  border: 6px solid transparent;
  border-top-color: var(--progress-bar-fill);
  position: absolute;
  top: -12px;
  right: -6px;
}

.progress-bar-filled::after {
  color: var(--progress-bar-fill);
  content: attr(data-filled);
  display: block;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  border: 6px solid transparent;
  top: -38px;
  right: 0;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.progress-bar-no-arrow > .progress-bar-filled::before,
.progress-bar-no-arrow > .progress-bar-filled::after {
  content: "";
  display: none;
  visibility: hidden;
  opacity: 0;
}
