.bundle
.byebug_history
.cache
.DS_Store
.sass-cache
yarn-error.log
/build
dist/
functions/production/
node_modules/
source/netlify-headers

# Yarn 2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Local Netlify folder
.netlify

# Game
/game/make-your-mark/
