.bundle
.byebug_history
.cache
.DS_Store
.env
.sass-cache
yarn-error.log
/build
dist/
functions/production/
node_modules/
source/netlify-headers
tmp

# Local Netlify folder
.netlify

# Game
/game/make-your-mark/

# Vite Ruby
/source/vite
/source/vite-dev
/source/vite-test

# Supabase
.supabase/README.md
.supabase/docker/**/*
!.supabase/docker/docker-compose.yml
