.bundle
.byebug_history
.cache
.DS_Store
.sass-cache
yarn-error.log
/build
dist/
functions/production/
node_modules/
source/netlify-headers
tmp

# Local Netlify folder
.netlify

# Netlify cache folder
/source/cache

# Game
/game/make-your-mark/

# Vite Ruby
/source/vite
/source/vite-dev
/source/vite-test

