.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column--start {
  align-items: flex-start;
}

.margin-top--s {
  margin-top: var(--global-space);
}

.margin-top--m {
  margin-top: calc(var(--global-space) * 2);
}

.margin-top--l {
  margin-top: calc(var(--global-space) * 3);
}

.margin-bottom--s {
  margin-bottom: var(--global-space);
}

.margin-bottom--m {
  margin-bottom: calc(var(--global-space) * 2);
}

.margin-bottom--l {
  margin-bottom: calc(var(--global-space) * 3);
}
