.commento-root .commento-anonymous-checkbox-container {
  float: left;
  margin-left: 0;
}

.commento-root .commento-markdown-button {
  align-items: center;
  display: flex;
  line-height: 0;
  margin-bottom: 16px;
  margin-left: 0;
  width: 100%;
}

.commento-root .commento-submit-button {
  margin-right: 0;
}

.commento-root .commento-markdown-help {
  border: none;
  padding: 0;
}

.commento-root .commento-footer {
  margin: 0;
  padding-right: 0;
}

.commento-root .commento-card {
  border-top: none;
}

.commento-root blockquote {
  position: inherit;
}

.commento-root blockquote::after {
  content: none;
}

.commento-root pre {
  border: none;
}
