.commento-root .commento-anonymous-checkbox-container {
  float: left;
  margin-left: 0;
}
.commento-root .commento-markdown-button {
  align-items: center;
  display: flex;
  line-height: 0;
  margin-left: 0;
  width: 100%;
}
