.game_container {
  min-height: 400px;
}

.game_container .let-there-be-light {
  cursor: pointer;
  float: right;
  margin-top: 150px;
}

.game_container .responsive-design {
  height: 480px;
  width: 320px;
}
