<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <div class="container">
      <%= partial "partials/main_navigation" %>
    </div>

    <div class="container">
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>    
  </body>
</html>
