<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <div class="container">
      <% main_navigation link: "/", title: "Jeff Knox" do %>
        <li>hi</li>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
