<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <div class="container">
      <% main_navigation link: "/", title: "Jeff Knox" do %>
        <%= navigation_list_item link: "/cv", text: "CV" %>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>    
  </body>
</html>
