---
noindex: true
layout: game
---

<%= alert text: "Congratulations, you've won!", type: :error, html: { class: "margin-top--m" } %>

<p class="margin-top--l">
  After all of your hard work I wish there was prize money on offer. You've come this far though so
  you clearly like puzzles! The best prize I can offer you is more puzzles with possibly the hardest
  puzzle game on the internet, <%= link_to "Notpron", "http://notpron.org/notpron/levelone.htm" %>.
  Good luck and thank you for playing my game!
</p>
