---
title: Lets get to know one another
description: I told you this would be fun! /game/you-are-not-my-type/
noindex: true
layout: game
---

<%= alert text: "Let me tell you about myself.", type: :error, html: { class: "margin-top--m" } %>

<p class= "margin-top--l">
  To get here you've obviously opened the developer tools. To play the game you'll need to make more
  use of this and look at everything carefully. That's all the clues you're getting!
</p>
