---
title: You need to go
noindex: true
layout: game
---

<div data-controller="ministry-of-truth">
  <%= alert text: "Who controls the present controls the past.", type: :error, html: { class: "margin-top--m" } %>
</div>
