---
noindex: true
layout: game
---

<div data-controller="responsive-design">
  <%= alert text: "June 29, 2007", type: :error, html: { class: "margin-top--m responsive-design", "data-responsive-design-target": "alert" } %>
</div>
