---
title: Good things come in pairs
noindex: true
layout: game
---

<%= alert text: "No secrets here.", type: :error, html: { class: "margin-top--m" } %>

<div class="margin-top--l">
  <%= figure_with_caption caption: "Photo by <a href='https://unsplash.com/@a_pudov?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank'>Alex Pudov</a> on <a href='https://unsplash.com/collections/2040429/what-happens-when-you-stop-asking-for-permission?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank'>Unsplash</a>",
                          media: image_tag(
                            "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.jpg", alt: "Image with caption", title: "Image with caption"
                          ) %>
</div>
