---
noindex: true
layout: game
---

<div data-controller="r-d">
  <%= alert text: "June 29, 2007", type: :error, html: { class: "margin-top--m responsive-design", "data-r-d-target": "alert" } %>
</div>
