---
description: Ready for puzzles?!
noindex: true
layout: game
---

<% content_for :page_head_js do %>
  <%= vite_javascript_tag "game", "data-turbo-track": "reload", defer: true %>
<% end %>

<h1>Game</h1>
<hr/>

<%= alert text: "Enter the game!", type: :error, html: { class: "margin-bottom--s" } %>

<p class= "margin-top--l" data-controller="e-p">
  Fancy a puzzle game? Go on, you'll love it! Although I should <code>warn</code>
  you that it will become trickier after you've cracked a few of the easier puzzles. That's your first
  clue, can you solve it?
</p>
