table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--global-line-height) 0;
  color: var(--font-color);
  font-size: var(--global-font-size);
}

table td,
table th {
  vertical-align: top;
  border: 1px solid var(--font-color);
  line-height: var(--global-line-height);
  padding: calc(var(--global-space) / 2);
  font-size: 1em;
}

table thead th {
  font-size: 1em;
}

table tfoot tr th {
  font-weight: 500;
}

table caption {
  font-size: 1em;
  margin: 0 0 1em 0;
}

table tbody td:first-child {
  font-weight: 700;
  color: var(var(--secondary-color));
}
