---
title: Dashboards
---

<h1>Dashboards</h1>
<hr/>

<div class="components components-grid">
  <aside id=menu">
    <p>A dashboard displaying the build times for this site on Netlify.</p>
    <p>Keeping a close eye on build times is important because it can be easy to introduce code over time that drives the build time up.</p>
  </aside>
  <main>
    <a href="/dashboards/netlify-build-data/">
      <%= figure media: image_tag("netlify.jpg", alt: "Netlify logo", title: "Netlify logo") %>
    </a>
  </main>
</div>

<%= button text: "Visit Netlify builds dashboard",
           link: true,
           href: "/dashboards/netlify-build-data/",
           type: :primary,
           block: true,
           html: { class: "margin-top--m" } %>

<hr/>

<div class="components components-grid">
  <aside id=menu">
    <p><strong>Coming soon</strong> - A dashboard displaying Real User Metrics (RUM) for this site.</p>
    <p>Tracking Core Web Vitals reveals the quality of the user experience for this site. These metrics plus more are displayed in the dashboard.</p>
  </aside>
  <main>
    <a href="#">
      <%= figure media: image_tag("web_vitals.jpg", alt: "Web Vitals logo", title: "Web Vitals logo") %>
    </a>
  </main>
</div>
