---
title: Web Vitals Data
---

<h1>Web Vitals Data</h1>
<hr/>

<% content_for :page_head_meta do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<section class="margin-bottom--m" data-controller="years" data-years-function-value="netlify_vitals_data_years_and_months" data-years-status-value="loading">
  <% button_group do %>
    <div data-years-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-years-target": "button", "data-action": "click->years#yearClicked" } %>
    </div>
  <% end %>
</section>

<section data-controller="months" data-months-year-selected-value="">
  <% button_group do %>
    <div data-months-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-months-target": "button", "data-action": "click->months#monthClicked" } %>
    </div>
  <% end %>
</section>

<hr/>

<%= vite_async_css "data_viz_css" %>
<%= vite_javascript_tag "dashboard", "data-turbo-track": "reload", defer: true %>
