---
title: Web Vitals Data
---

<h1> Core Web Vitals Data</h1>
<hr/>

<p class="margin-bottom--l">
  <%= alert text: %{
      I'm happy to say that this little bit of experimenting with a Core Web Vitals dashboard has turned into a full product called
      #{link_to "illuminatr", "https://www.illuminatr.io/"}! Follow the link to check it out and start shining a light on the user
      experience of your real-life customers by measuring Core Web Vitals for their visits.
    },
    type: :default %>
  
</p>
