code {
  font-weight: inherit;
  background-color: var(--code-bg-color);
  font-family: var(--mono-font-stack);
}

code::after,
code::before {
  content: "`";
  display: inline;
}

pre code::after,
pre code::before {
  content: "";
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: normal;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  padding: var(--global-space);
  margin: calc(var(--global-space) * 3) 0;
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
}

pre code {
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 100%;
  font-family: var(--mono-font-stack);
}

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--block-background-color);
  color: var(--font-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--secondary-color);
}

.token.punctuation {
	color: var(--font-color);
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--error-color);
}

.token.boolean,
.token.number {
	color: var(--primary-dark-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--success-color);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--font-color);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: var(--highlight-color);
}

.token.keyword {
	color: var(--progress-bar-fill);
}

.token.regex,
.token.important {
	color: var(--highlight-color);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
