code {
  font-weight: inherit;
  background-color: var(--code-bg-color);
  font-family: var(--mono-font-stack);
}

code::after,
code::before {
  content: "`";
  display: inline;
}

pre code::after,
pre code::before {
  content: "";
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: normal;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  padding: var(--global-space);
  margin: calc(var(--global-space) * 3) 0;
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
}

pre code {
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 100%;
  font-family: var(--mono-font-stack);
}

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--block-background-color);
  color: var(--font-color);
}

.highlight .boolean,
.highlight .builtin,
.highlight .constant,
.highlight .selector,
.highlight .tag .attr-name {
  color: var(--highlight-color);
}

.highlight .comment,
.highlight .property,
.highlight .property + .punctuation {
  color: var(--secondary-color);
}

.highlight .function,
.highlight .tag .tag,
.highlight .tag ~ .punctuation:last-of-type {
  color: var(--error-color);
}

.highlight .keyword {
  color: var(--primary-color);
}

.highlight .attr-value,
.highlight .string {
  color: var(--success-color);
}

.highlight .attr-value .attr-equals{
  color: var(--font-color);
}
