code {
  font-weight: inherit;
  background-color: var(--code-bg-color);
  font-family: var(--mono-font-stack);
}

code::after,
code::before {
  content: "`";
  display: inline;
}

pre code::after,
pre code::before {
  content: "";
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  padding: var(--global-space);
  margin: calc(var(--global-space) * 3) 0;
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
}

pre code {
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 100%;
  font-family: var(--mono-font-stack);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--block-background-color);
  color: var(--font-color);
}

.hljs-comment,
.hljs-quote {
  color: var(--secondary-color);
}

.hljs-variable {
  color: var(--font-color);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: var(--primary-color);
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: var(--secondary-color);
}

.hljs-string {
  color: var(--secondary-color);
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: var(--primary-color);
}

.hljs-doctag {
  color: var(--secondary-color);
}

.hljs-attr {
  color: var(--primary-color);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: var(--primary-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
