.terminal-timeline {
  position: relative;
  padding-left: 70px;
}

.terminal-timeline::before {
  content: ' ';
  background: var(--secondary-color);
  display: inline-block;
  position: absolute;
  left: 35px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

.terminal-timeline .terminal-card {
  margin-bottom: 25px;
}

.terminal-timeline .terminal-card::before {
  content: ' ';
  background: var(--invert-font-color);
  border: 2px solid var(--secondary-color);
  display: inline-block;
  position: absolute;
  margin-top: 25px;
  left: 26px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

.terminal-timeline .terminal-alert {
  display: inline-flex;
}

.terminal-timeline .terminal-alert::before {
  content: ' ';
  background: var(--invert-font-color);
  border: none;
  border-bottom: 1px dotted var(---font-color);
  display: inline-block;
  position: absolute;
  margin-top: var(--global-space);
  left: 36px;
  width: 34px;
}

.terminal-timeline .terminal-alert-error::before {
  border-bottom: 1px dotted var(--error-color);
}

.terminal-timeline .terminal-alert-primary::before {
  border-bottom: 1px dotted var(--primary-color);
}
