<section>
  <header>
    <h2 id="Alerts">Alerts</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Default message", type: :default, html: { class: "margin-bottom--s" } %>
    <%= alert text: "Primary message", type: :primary, html: { class: "margin-bottom--s" } %>
    <%= alert text: "Error message", type: :error, html: { class: "margin-bottom--s" } %>
  </div>
</section>
