<section>
  <header>
    <h2 id="Alerts">Alerts</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Default message", type: :default, class: "margin-bottom--s" %>
    <%= alert text: "Primary message", type: :primary, class: "margin-bottom--s" %>
    <%= alert text: "Error message", type: :error, class: "margin-bottom--s" %>
  </div>
</section>
