<section>
  <header>
    <h2 id="Cards">Cards</h2>
  </header>
  <% card title: "Card Title" do %>
    Lorem ipsum dolor sit amet, <%= link_to "consectetur", "#" %> adipisicing elit. Expedita, quas ex vero enim in doloribus officiis ullam vel nam esse sapiente velit incidunt. Eaque quod et, aut maiores excepturi sint.
  <% end %>
</section>
