<section>
  <header>
    <h2 id="Navigation">Navigation</h2>
  </header>

  <% navigation_main link: "/styleguide", title: "Styleguide" do %>
    <%= navigation_list_item link: "#", text: "Link 1" %>
    <%= navigation_list_item link: "#", text: "Active Link 2", active: true %>
    <%= navigation_list_item link: "#", text: "Link 3" %>
  <% end %>
</section>
