<section>
  <header>
    <h2 id="Progress">Progress Bars</h2>
  </header>

  <p>With only an arrow</p>
  <%= progress_arrow filled: 40 %>

  <p>With a percentage showing above the arrow</p>
  <%= progress_percent filled: 30, text: "Loading 30%" %>

  <p>Without arrow</p>
  <%= progress_no_arrow filled: 60 %>
</section>
