<section>
  <header>
    <h2 id="Tabs">Tabs</h2>
  </header>

  <% tabs do %>
    <%= tab_list_item text: "Tab 1" %>
    <%= tab_list_item text: "Active Tab 2", active: true %>
    <%= tab_list_item text: "Tab 3" %>
  <% end %>
</section>
