<section>
  <header>
    <h2 id="Timeline">Timeline</h2>
  </header>

  <% timeline do %>
    <%= alert text: "Jan 2020", type: :primary, html: { class: "margin-bottom--s" } %>
    <% card title: "Card Title" do %>
      Lorem ipsum dolor sit amet, <%= link_to "consectetur", "#" %> adipisicing elit. Expedita, quas ex vero enim in doloribus officiis ullam vel nam esse sapiente velit incidunt. Eaque quod et, aut maiores excepturi sint.
    <% end %>

    <%= alert text: "Jan 2019", type: :primary, html: { class: "margin-bottom--s" } %>
    <% card title: "Card Title" do %>
      Lorem ipsum dolor sit amet, <%= link_to "consectetur", "#" %> adipisicing elit. Expedita, quas ex vero enim in doloribus officiis ullam vel nam esse sapiente velit incidunt. Eaque quod et, aut maiores excepturi sint.
    <% end %>
  <% end %>
</section>
