@import "~/stylesheets/normalise";
@import "~/stylesheets/terminal";

@import "~/stylesheets/contact";
@import "~/stylesheets/utilities";

.line-chart {
  position: relative;
}

.line-chart--path {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 2;
}

.line-chart--y-axis path,
.line-chart--x-axis path {
  stroke: var(--secondary-color);
}

.line-chart .tick line {
  stroke: var(--secondary-color);
}
.line-chart .tick text {
  fill: var(--secondary-color);
}

.line-chart--x-axis-label {
  fill: var(--progress-bar-background);
  font-size: 1.2em;
}

.line-chart--listening-rect {
  cursor: pointer;
  fill: transparent;
}

.line-chart--tooltip {
  opacity: 0;
  position: absolute;
  top: -14px;
  left: 0;
  padding: 0.6em 1em;
  background: var(--secondary-color);
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border-radius: 3px;
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.line-chart--tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: var(--secondary-color);
  border: none;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.line-chart--tooltip-circle {
  stroke: var(--success-color);
  fill: var(--background-color);
  stroke-width: 3;
  opacity: 0;
  pointer-events: none;
}

.line-chart--tooltip-duration {
  color: var(--invert-font-color);
}

.line-chart--tooltip-date span,
.line-chart--tooltip-duration span {
  color: var(--invert-font-color);
}

.line-chart--lower-bound-kpi-line, .line-chart--target-kpi-line {
  stroke-dasharray: 1px 1px;
}

.line-chart--lower-bound-kpi-line {
  stroke: var(--error-color);
}

.line-chart--target-kpi-line {
  stroke: var(--success-color);
}
